:root

    /**
     * GLOBAL
     */

    --ts-line-height: 1.5rem
    --ts-scrollbar-padding: 8px

    /**
     * CELLS SIZES
     */

    --ts-col-width: 120px
    --ts-row-height: 1lh
    --ts-border-size: 10px

    /**
     * COLORS
     */

    // Headers
    --ts-row-header-color: black
    --ts-row-header-border-color: white
    --ts-col-header-color: blue
    --ts-col-header-border-color: white
    --ts-all-header-color: red
    --ts-all-button-color: green


    // Lasso.
    --ts-lasso-color: blue 
    --ts-lasso-handle-color: cyan

    // Selection
    --ts-active-cell-color: #eee
    --ts-selected-cell-color: lightgrey
    --ts-selected-header-color: red

    // Interactions
    --ts-select-row-color: green
    --ts-select-col-color: green